.mobileViewResetPassword{
    margin-top: 30vh;
}
@media screen and (max-width:400px) {
    .d-flex{
        display: grid !important;
        grid-template-columns: 98% !important;
    }
}
/* FOr resetPassword compo------ */